html {
    font-size: 62.5%;
}

.container {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: rgb(239, 221, 63);
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

a {
    margin: 1rem;
    color: palevioletred;
}

a:link,
a:visited {
    text-decoration: none;
}